<section class="pp-banner pp-banner position-relative {{ layout.css_class }}">
    <div class="{{ layout.css_class }}__image" style="background-image:url('{{ layout.background_image.src }}')"></div>
    <article class="{{ layout.css_class }}__article w-100 position-absolute">
        <div class="container">
            <div class="d-flex justify-content-around w-100">
                <header class="col-10 {% if layout.css_class == "pp-possible" %} col-lg-10 {% else %} col-lg-5 {% endif %} {{ layout.css_class }}__logo d-block">
                    
                </header>
                
            </div>
            <div class="d-block pt-4{% if layout.css_class == "pp-possible" %} pp-orange-text text-uppercase{% endif %}">
            {% if layout.content %}{{ layout.content }}{% endif %}
            </div>
        </div>
    </article>
</section>