{% extends "base.twig" %}

{% block content %}



<section class="pp-banner pp-banner position-relative pp-article-banner pp-half-height">
<div class="pp-article-banner__image" style="background-image:url('{{ post.thumbnail.src('large') }}')"></div>
</section>

<section class="pp-grey-bg">

<article class="pp-article {{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="container">
				<h1 class="pp-article__title">{{ post.title }}</h1>
				<h2 class="pp-article__date">{{post.date}}</h2>
				<div class="pp-article__body">
					{{post.content}}
				</div>
			</section>

			{#<!-- comment box -->
			<section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>#}
		</article>

</section>

{% endblock %}
