{% extends "tease.twig" %}

{% block content %}
 
<article class="mb-5 mb-md-0 col-12 col-md-4 pp-article-summary press">

	
	{% if post.thumbnail.src %}
	<a href="{{ post.custom.external_link }}" class="pp-orange-text" target="_blank" rel="noopener">
	<div class="pp-article-summary__image press-image" style="background-image:url({{post.thumbnail.src('medium') }})"></div>
	</a>
	{% endif %}
	<a href="{{ post.custom.external_link }}" class="pp-orange-text" target="_blank" rel="noopener">
	<h3 class="pt-2 pp-article-summary__title pp-orange-text pb-3">{{post.title}}</h3>
	{#<h4 class="pb-2 pp-article-summary__date pp-orange-text">{{post.date}}</h4>#}
	<div class="d-none pp-artcle-summary__summary pb-2 pp-orange-text ">{{post.preview}}</div>
	</a>

</article>

{% endblock %}